* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
